#descripcion {
    background-color: #F2F4F6;
}

#div-descripcion{
    background-color: #D9D9D9;
}

#h2-texto-descripcion{
    color: #C66271;
    font-family: "Fredoka", sans-serif;
    text-align: center;
    /* margin-top: 40px; */
}

#p-descripcion{
    font-family: "Montserrat", sans-serif;
}